// Colours
// ==========================================================================
// use this file for site wide colours

$page-colour: #fff;
$text-colour: #000;

$link-colour: #0000EE;
$link-hover-colour: #0000EE;
$link-visited-colour: #551A8B;