// Helpers
// ==========================================================================

// MIXIN - Vendor Prefix
//
// Usage:
// @include vendor-prefix(border-radius, 2px);
@mixin vendor-prefix($name, $argument) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}#{$name}: $argument;
    }
}

// Hide, but not for screenreaders
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// Hide, only when JavaScript is enabled
.js-enabled .js-hidden {
  display: none;
}

// Contain floats usage:
//
// .this-has-floated-children {
//  @extend %contain-floats;
// }
%contain-floats {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  @if $ie
    *zoom: 1;
}
