// Layout
// ==========================================================================

// for creating circle elements
//  Usage: @include circle(30px);
//
@mixin circle($dimension) {
  width: $dimension;
  height: $dimension;
  border-radius: 50%;
}

// MIXIN - border-radius
@mixin border-radius($argument) {
  @include vendor-prefix(border-radius, $argument);
  background-clip: padding-box; /* stops bg leaking outside border */
}