// Typography
// ==========================================================================

// Return ems from a pixel value
// This assumes a base of 19px
@function em($px, $base: 19) {
  @return ($px / $base) + em;
}

@mixin heading($font-size, $line-height: 1.2em) {
  font-size: $font-size;
  font-weight: 600;
  line-height: $line-height;
  color: $text-colour;
}

// MIXIN
// sets up basic link styles
// need to change default colours
@mixin link($colour: $link-colour, $hover-colour: $link-hover-colour, $visited-colour: $link-visited-colour, $decoration: none, $hover-decoration: underline) {
  color: $link-colour;
  text-decoration: $decoration;

  &:visited {
    color: $visited-colour;
  }

  &:hover {
    color: $hover-colour;
    text-decoration: $hover-decoration;
  }
}
